<section class="hero is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="../../../assets/Imagologo_motion.svg" alt="Logo" />
          </a>        
        </div>      
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title is-size-1">BIENVENIDO A</p>
      <p class="subtitle is-size-3">MONITORING INNOVATION</p>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot mb-6">
    <nav class="tabs">
      <div class="container">
        <ul class="is-flex is-flex-direction-row is-justify-content-center">         
          <li class="mx-6"><a>MONITORINGINNOVATION</a></li>
          <li class="mx-6"><a>GPS CONTROL</a></li>
          <li class="mx-6"><a>LINK REPO FRONT</a></li>
          <li class="mx-6"><a>LINK REPO BACK</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>