<section class="hero is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="../../../assets/Imagologo_motion.svg" alt="Logo" />
          </a>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="effect"></div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="hero-banner" [routerLink]="'/vehicle'">
        <p>BIENVENIDO A</p>
        <figure>
          <img src="../../../assets/Telefono-01.png" alt="MONITORING">
        </figure>
        <p>MONITORING INNOVATION</p>
      </div>  
    </div>

  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot mb-6">
    <nav class="tabs">
      <div class="container">
        <ul>
          <li class="mx-6"><a href="https://monitoringinnovation.com/" class="hero-link">MONITORINGINNOVATION</a></li>
          <li class="mx-6"><a href="https://gpscontrol.co/" class="hero-link">GPS CONTROL</a></li>
          <li class="mx-6"><a href="https://github.com/mfquinonesc/gps-technical-assessment/tree/main/frontend" class="hero-link">LINK REPO FRONT</a></li>
          <li class="mx-6"><a href="https://github.com/mfquinonesc/gps-technical-assessment/tree/main/backend" class="hero-link">LINK REPO BACK</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>