<section class="hero is-fullheight">
    <div class="hero-body is-flex is-flex-direction-column is-justify-content-top">
        <div class="container columns">
            <div class="column is-4">
                <form [formGroup]="vehicleForm" class="box px-5 form-box">

                    <a class="btn-add" (click)="addNew()"> <img src="../../../assets/Icon_crear.svg" alt="Crear"> </a>

                    <div>
                        <img *ngIf="isCreating" src="../../../assets/Icon_vehiculo1.svg" alt="Marca">
                        <img *ngIf="!isCreating" src="../../../assets/Icon_vehiculo.svg" alt="Marca">
                        <input type="text" formControlName="brand" placeholder="Marca">
                    </div>
                    <!-- <small *ngIf="brand.invalid && brand.touched">
                        Marca es obligatoria.
                    </small> -->

                    <div>
                        <img *ngIf="isCreating" src="../../../assets/Icon_puntoubicacion1.svg" alt="Sucursal">
                        <img *ngIf="!isCreating" src="../../../assets/Icon_puntoubicacion.svg" alt="Sucursal">
                        <input type="text" formControlName="company_brand" placeholder="Sucursal">
                    </div>
                    <!-- <small *ngIf="company_brand.invalid && company_brand.touched">
                        Sucursal es obligatoria.
                    </small> -->

                    <div>
                        <img *ngIf="isCreating" src="../../../assets/Icon_persona1.svg" alt="Aspirante">
                        <img *ngIf="!isCreating" src="../../../assets/Icon_persona.svg" alt="Aspirante">
                        <input type="text" formControlName="applicant" placeholder="Aspirante">
                    </div>
                    <!-- <small *ngIf="applicant.invalid && applicant.touched">
                        Aspirante es obligatorio.
                    </small>     -->

                    <div *ngIf="isCreating" class="buttons" data-aos="fade-right">
                        <button class="btn-cancel" (click)="cancel()">Cancelar</button>
                        <button class="btn-create" (click)="create()">Crear</button>
                    </div>

                    <div *ngIf="isEditing" class="icons" data-aos="fade-right">
                        <a><img src="../../../assets/Icon_cancelar.svg" alt="Cancelar" (click)="cancel()"></a>
                        <a><img src="../../../assets/Icon_confirmar.svg" alt="Confirmar" (click)="update()"></a>
                    </div>

                </form>
            </div>
            <div class="column is-8">
                <table class="table-vehicle">
                    <thead>
                        <tr>
                            <th> Marca </th>
                            <th> Sucursal </th>
                            <th> Aspirante </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let v of vehicles">
                            <td>{{ v.brand }}</td>
                            <td>{{ v.company_brand }}</td>
                            <td>{{ v.applicant }}</td>
                            <td>
                                <a>
                                    <img *ngIf="!isEditing || (selectedVehicle && selectedVehicle.id == v.id)" src="../../../assets/Icon_editar1.svg" alt="Editar" (click)="edit(v.id)">
                                    <img *ngIf="isEditing && !(selectedVehicle && selectedVehicle.id == v.id)" src="../../../assets/Icon_editar.svg" alt="Editar" > <!---inactivo-->                                  
                                </a>
                                <a>
                                    <img *ngIf="!isEditing || (selectedVehicle && selectedVehicle.id == v.id)" src="../../../assets/Icon_eliminar1.svg" alt="Eliminar" (click)="delete(v.id)">
                                    <img *ngIf="isEditing && !(selectedVehicle && selectedVehicle.id == v.id)" src="../../../assets/Icon_eliminar.svg" alt="Eliminar" >
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="hero-foot mb-4">
        <figure class="is-flex is-flex-direction-row is-justify-content-center">
            <img src="../../../assets/Imagologotipo_motion.svg" alt="motion">
        </figure>
    </div>
</section>