<section class="hero is-fullheight">
    <div class="hero-body is-flex is-flex-direction-column is-justify-content-top">
        <div class="container columns">
            <div class="column is-4">
                <div class="box px-5 form-box">

                    <a class="btn-add"> <img src="../../../assets/Icon_crear.svg" alt="Crear"> </a>

                    <div>
                        <img src="../../../assets/Icon_vehiculo.svg" alt="Marca">
                        <input type="text" name="" id="">
                    </div>
                    <div>
                        <img src="../../../assets/Icon_puntoubicacion.svg" alt="Sucursal">
                        <input type="text" name="" id="">
                    </div>
                    <div>
                        <img src="../../../assets/Icon_persona.svg" alt="Aspirante">
                        <input type="text" name="" id="">
                    </div>

                    <div class="buttons">
                        <button class="btn-cancel">Cancelar</button>
                        <button class="btn-create">Crear</button>
                    </div>

                    <div class="icons">
                        <a><img src="../../../assets/Icon_cancelar.svg" alt="Cancelar"></a>
                        <a><img src="../../../assets/Icon_confirmar.svg" alt="Confirmar"></a>
                    </div>

                </div>
            </div>
            <div class="column is-8">
                <table class="table-vehicle">
                    <thead>
                        <tr>
                            <th> Marca </th>
                            <th> Sucursal </th>
                            <th> Aspirante </th>
                            <th></th>                          
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Mazda</td>
                            <td>Chapinero</td>
                            <td>Jhon Doe</td>
                            <td>
                                <a><img src="../../../assets/Icon_editar.svg" alt="Editar" ></a>                           
                                <a><img src="../../../assets/Icon_eliminar.svg" alt="Eliminar"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="hero-foot mb-4">
        <figure class="is-flex is-flex-direction-row is-justify-content-center">
            <img src="../../../assets/Imagologotipo_motion.svg" alt="motion">
        </figure>
    </div>
</section>